# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy.stats import t
from scipy.stats import ttest_1samp # testeo de una muestra frente a poblacion
from scipy.stats import sem
from scipy.stats import shapiro # comprobar normalidad
from scipy.stats import ttest_rel # t-test para muestras dependientes
from scipy.stats import sem   # error standard

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.columns = salaries.columns.str.lower().str.replace(' ', '_').str.replace('.', '_').str.rstrip('_')
salaries.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               33183 non-null  object
 1   job_titles         33183 non-null  object
 2   department         33183 non-null  object
 3   full_or_part-time  33183 non-null  object
 4   salary_or_hourly   33183 non-null  object
 5   typical_hours      8022 non-null   float64
 6   annual_salary      25161 non-null  float64
 7   hourly_rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 11.4 MB

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
salaries.salary_or_hourly.value_counts()

salary_or_hourly
Salary    25161
Hourly     8022
Name: count, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
departments = salaries.department.value_counts().to_dict()

departments

{'POLICE': 13414,
 'FIRE': 4641,
 'STREETS & SAN': 2198,
 'OEMC': 2102,
 'WATER MGMNT': 1879,
 'AVIATION': 1629,
 'TRANSPORTN': 1140,
 'PUBLIC LIBRARY': 1015,
 'GENERAL SERVICES': 980,
 'FAMILY & SUPPORT': 615,
 'FINANCE': 560,
 'HEALTH': 488,
 'CITY COUNCIL': 411,
 'LAW': 407,
 'BUILDINGS': 269,
 'COMMUNITY DEVELOPMENT': 207,
 'BUSINESS AFFAIRS': 171,
 'COPA': 116,
 'BOARD OF ELECTION': 107,
 'DoIT': 99,
 'PROCUREMENT': 92,
 'INSPECTOR GEN': 87,
 "MAYOR'S OFFICE": 85,
 'CITY CLERK': 84,
 'ANIMAL CONTRL': 81,
 'HUMAN RESOURCES': 79,
 'CULTURAL AFFAIRS': 65,
 'BUDGET & MGMT': 46,
 'ADMIN HEARNG': 39,
 'DISABILITIES': 28,
 'TREASURER': 22,
 'HUMAN RELATIONS': 16,
 'BOARD OF ETHICS': 8,
 'POLICE BOARD': 2,
 'LICENSE APPL COMM': 1}

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
salary_hour = salaries[salaries['salary_or_hourly'] == 'Hourly'][['hourly_rate']]
salary_hour

       hourly_rate
4            19.86
6            46.10
7            35.60
10            2.65
18           17.68
...            ...
33164        46.10
33168        17.68
33169        35.60
33174        46.35
33175        48.85

[8022 rows x 1 columns]

In [8]:
salary_hour.hourly_rate.mean()

32.78855771628024

In [9]:
salary_hour.hourly_rate.std()

12.112572684276799

In [10]:
#Comprobar la normalidad
shapiro(salary_hour.hourly_rate)
#evidentemente no son independientes(solo una col)

C:\Users\jaime\anaconda3\lib\site-packages\scipy\stats\_morestats.py:1882: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

ShapiroResult(statistic=0.930728554725647, pvalue=0.0)

In [11]:
# Your code here:
#usamos t-test porque desconocemos la std de la población
#Datos: media_poblacional = 30 ; media_muestral = 32,79; std_muestral = 12,11
# H0 = 30 ; H1 != 30; 'two-sided'

In [12]:
#t-test: muestra frente a poblacion
t_test = ttest_1samp(salary_hour.hourly_rate, 30, alternative='two-sided')
t_test

TtestResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92, df=8021)

In [13]:
t_test.pvalue # muy cercano a 0; umbral = 0,05
#p-value< umbral, nos quedamos con H1: salary_hour != 30

4.3230240486229894e-92

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [14]:
salary_police = salaries[salaries['department']== 'POLICE'] [['annual_salary']]
salary_police

       annual_salary
0           101442.0
1            94122.0
9            93354.0
11           84054.0
12           87006.0
...              ...
33177        72510.0
33178        72510.0
33179        48078.0
33180        90024.0
33181        93354.0

[13414 rows x 1 columns]

In [15]:
salary_police.mean()

annual_salary    86486.414503
dtype: float64

In [16]:
salary_police.std()

annual_salary    18272.228294
dtype: float64

In [17]:
shapiro(salary_police.annual_salary)

C:\Users\jaime\anaconda3\lib\site-packages\scipy\stats\_morestats.py:1882: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

ShapiroResult(statistic=nan, pvalue=1.0)

In [18]:
# Your code here:
#usamos t-test porque no conocemos la std de la población
#Datos: media_poblacional = 86000; media_muestral = 86486.414503; std_muestral =  18272.228294
#H0 >= 86000; H1 < 86000; one_side= 'less'

In [19]:
#t-test: muestra frente a poblacion
t_test2 = ttest_1samp(salary_police.annual_salary.dropna(), 86000, alternative ='less')# tttest_1samp(datos, media_poblacional, alternative = tipo_comparativa)
t_test2

TtestResult(statistic=3.081997005712994, pvalue=0.9989698298224517, df=13403)

In [20]:
# lo hacemos por la fórmula:
t_test2_mano = (86486.414503-86000)/ (18272.228294/(13414)**0.5)
t_test2_mano

3.08314644622425

In [21]:
p_value2 = t(df=(13414 -1)).cdf(t_test2_mano)
p_value2

0.9989737994398524

Using the `crosstab` function, find the department that has the most hourly workers.

In [22]:
cross_tab = pd.crosstab(index=salaries['department'], columns=salaries['salary_or_hourly'])
cross_tab

salary_or_hourly       Hourly  Salary
department
ADMIN HEARNG                0      39
ANIMAL CONTRL              19      62
AVIATION                 1082     547
BOARD OF ELECTION           0     107
BOARD OF ETHICS             0       8
BUDGET & MGMT               2      44
BUILDINGS                   0     269
BUSINESS AFFAIRS            7     164
CITY CLERK                  0      84
CITY COUNCIL               64     347
COMMUNITY DEVELOPMENT       4     203
COPA                        0     116
CULTURAL AFFAIRS            7      58
DISABILITIES                0      28
DoIT                        0      99
FAMILY & SUPPORT          287     328
FINANCE                    44     516
FIRE                        2    4639
GENERAL SERVICES          765     215
HEALTH                      3     485
HUMAN RELATIONS             0      16
HUMAN RESOURCES             4      75
INSPECTOR GEN               0      87
LAW                        40     367
LICENSE APPL COMM           0       1
MAYOR'S OFFICE              8      77
OEMC                     1273     829
POLICE                     10   13404
POLICE BOARD                0       2
PROCUREMENT                 2      90
PUBLIC LIBRARY            299     716
STREETS & SAN            1862     336
TRANSPORTN                725     415
TREASURER                   0      22
WATER MGMNT              1513     366

In [23]:
# Your code here:
most_deparment = salaries[salaries['salary_or_hourly'] == 'Hourly']
most_deparment= most_deparment.department.value_counts().idxmax()
most_deparment

'STREETS & SAN'

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [24]:
new_df = salaries[salaries['department']== 'STREETS & SAN'][['hourly_rate']]
new_df.info

<bound method DataFrame.info of        hourly_rate
7            35.60
21           21.43
24           35.60
36           36.21
39           35.60
...            ...
33107        35.60
33147        35.60
33149        36.21
33156        22.12
33162          NaN

[2198 rows x 1 columns]>

In [25]:
new_df.mean()

hourly_rate    33.728378
dtype: float64

In [26]:
new_df.std()

hourly_rate    5.735242
dtype: float64

In [27]:
shapiro(new_df.hourly_rate)

ShapiroResult(statistic=nan, pvalue=1.0)

In [28]:
# Your code here:
#usamos t-test porque desconocemos la std de la población
#Datos: media_poblacional = 35 ; media_muestral = 33,728; std_muestral = 5,735
# H0>= 35 ; H1< 35; one-side = 'less'
t_test3 = ttest_1samp(new_df.hourly_rate.dropna(), 35, alternative ='less')# tttest_1samp(datos, media_poblacional, alternative = tipo_comparativa)
t_test3
t_test3.pvalue

1.6689265282353859e-21

In [29]:
# lo hacemos por la fórmula:
t_test3_mano = (35 - 33.728378 )/ (5.735/(2198)**0.5)
t_test3_mano

10.395334168585691

In [30]:
p_value3 = t(df=(2198 -1)).cdf(t_test3_mano)
p_value3

1.0

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [31]:
help(t.interval)

Help on method interval in module scipy.stats._distn_infrastructure:

interval(confidence, *args, **kwds) method of scipy.stats._continuous_distns.t_gen instance
    Confidence interval with equal areas around the median.

    Parameters
    ----------
    confidence : array_like of float
        Probability that an rv will be drawn from the returned range.
        Each value should be in the range [0, 1].
    arg1, arg2, ... : array_like
        The shape parameter(s) for the distribution (see docstring of the
        instance object for more information).
    loc : array_like, optional
        location parameter, Default is 0.
    scale : array_like, optional
        scale parameter, Default is 1.

    Returns
    -------
    a, b : ndarray of float
        end-points of range that contain ``100 * alpha %`` of the rv's
        possible values.

    Notes
    -----
    This is implemented as ``ppf([p_tail, 1-p_tail])``, where
    ``ppf`` is the inverse cumulative distribution function and
    ``p_tail = (1-confidence)/2``. Suppose ``[c, d]`` is the support of a
    discrete distribution; then ``ppf([0, 1]) == (c-1, d)``. Therefore,
    when ``confidence=1`` and the distribution is discrete, the left end
    of the interval will be beyond the support of the distribution.
    For discrete distributions, the interval will limit the probability
    in each tail to be less than or equal to ``p_tail`` (usually
    strictly less).

In [32]:
#hourly workers. 
salary_hour

       hourly_rate
4            19.86
6            46.10
7            35.60
10            2.65
18           17.68
...            ...
33164        46.10
33168        17.68
33169        35.60
33174        46.35
33175        48.85

[8022 rows x 1 columns]

In [33]:
salary_hour.hourly_rate.mean()

32.78855771628024

In [34]:
# Your code here:
t.interval(0.95,                 # alfa = 1 - pvalor, confianza
           len(salary_hour.hourly_rate)-1,     #  N-1, dof asumiendo que existe independencia dentro de la muestra
           loc=salary_hour.hourly_rate.mean(),
           scale=sem(salary_hour.hourly_rate)
           )

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [35]:
salary_police.annual_salary.dropna()

0        101442.0
1         94122.0
9         93354.0
11        84054.0
12        87006.0
           ...
33177     72510.0
33178     72510.0
33179     48078.0
33180     90024.0
33181     93354.0
Name: annual_salary, Length: 13404, dtype: float64

In [36]:
salary_police.mean()

annual_salary    86486.414503
dtype: float64

In [37]:
# Your code here:
t.interval(0.95,
          len(salary_police.annual_salary),
          loc= salary_police.annual_salary.mean(),
          scale=sem(salary_police.annual_salary)
          )

(nan, nan)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [38]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

In [41]:


salary_hour = salaries[salaries['salary_or_hourly'] == 'Hourly']

num_workers = salary_hour.shape[0]

total = salaries.shape[0]
total

33183

In [42]:
t_statics, pvalue = proportions_ztest(num_workers, total, 0.25)

t_statics, pvalue

(-3.5099964213703005, 0.0004481127249057967)

In [43]:
num_workers/total

0.24175029382515142