# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [20]:
# Your code here:
nan_cols=salaries.isna().sum()
nan_cols

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [26]:
# Your code here:
employme = salaries['Salary or Hourly'].value_counts()
employme

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [29]:
# Your code here:
department = salaries.groupby('Department').size()
department

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [57]:
import scipy.stats as stats

hourly_wages = salaries[salaries['Salary or Hourly'] == 'Hourly']['Typical Hours']
hourly_wages

4        20.0
6        40.0
7        40.0
10       20.0
18       20.0
         ...
33164    40.0
33168    20.0
33169    40.0
33174    40.0
33175    40.0
Name: Typical Hours, Length: 8022, dtype: float64

In [59]:
test_result = stats.ttest_1samp(hourly_wages, popmean=30)
test_result

TtestResult(statistic=43.63629396989955, pvalue=0.0, df=8021)

In [61]:
p_value = test_result.pvalue
p_value

0.0

In [65]:
alpha = 0.05
if p_value < alpha:
    result = "h0"
else:
    result = "h1"
result

'h0'

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [72]:
# Your code here:
police_salaries = salaries[(salaries['Department'] == 'POLICE') & (salaries['Salary or Hourly'] == 'Salary')]['Annual Salary']
highest=police_salaries[police_salaries>89000]
highest

0        101442.0
1         94122.0
9         93354.0
22        90024.0
46        90024.0
           ...
33155     90024.0
33163     96060.0
33170     90024.0
33180     90024.0
33181     93354.0
Name: Annual Salary, Length: 7110, dtype: float64

In [78]:
testeo= stats.ttest_1samp(police_salaries, popmean=89000)


one_side = test_result.pvalue / 2

alpha = 0.05

if one_side < alpha and testeo.statistic > 0:
    result = "h0"
else:
    result = "h1"
    
result

'h1'

Using the `crosstab` function, find the department that has the most hourly workers.

In [83]:

cross_tab = pd.crosstab(salaries['Department'], salaries['Salary or Hourly'])

department_with_most_hourly = cross_tab['Hourly'].idxmax()
department_with_most_hourly

'STREETS & SAN'

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [87]:
# Your code here:
most_hourly_department = cross_tab['Hourly'].idxmax()
hourly_wages_most_hourly = salaries[(salaries['Department'] == most_hourly_department) & (salaries['Salary or Hourly'] == 'Hourly')]['Hourly Rate']
hourly_wages_most_hourly

7        35.60
21       21.43
24       35.60
36       36.21
39       35.60
         ...
33106    36.13
33107    35.60
33147    35.60
33149    36.21
33156    22.12
Name: Hourly Rate, Length: 1862, dtype: float64

In [94]:
alpha = 0.05
testeo = stats.ttest_1samp(wages_most, popmean=35)
one_sided = test_result.pvalue / 2
one_sided

1.6689265282353859e-21

In [96]:
if one_sided < alpha and testeo.statistic < 0:
    result = "H0"
else:
    result = "H1"
result

'H0'

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [98]:
hourly_wages = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate']
hourly_wages

4        19.86
6        46.10
7        35.60
10        2.65
18       17.68
         ...
33164    46.10
33168    17.68
33169    35.60
33174    46.35
33175    48.85
Name: Hourly Rate, Length: 8022, dtype: float64

In [101]:
sample_mean = hourly_wages.mean()
sample_mean

32.78855771628024

In [102]:
sample_std = hourly_wages.std()
sample_std

12.11257268427681

In [104]:
confidence_level = 0.95
degrees_of_freedom = len(hourly_wages) - 1

degrees_of_freedom

8021

In [105]:
critical_value = stats.t.ppf((1 + confidence_level) / 2, df=degrees_of_freedom)
critical_value

1.9602597859561675

In [106]:
margin_of_error = critical_value * (sample_std / (len(hourly_wages)) ** 0.5)
margin_of_error

0.2650993713959906

In [107]:
confidence_lower = sample_mean - margin_of_error
confidence_lower

32.52345834488425

In [108]:
confidence_upper = sample_mean + margin_of_error
confidence_upper

33.05365708767623

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [110]:
# Your code here:
police_salaries = salaries[(salaries['Department'] == 'POLICE') & (salaries['Salary or Hourly'] == 'Salary')]['Annual Salary']
police_salaries

0        101442.0
1         94122.0
9         93354.0
11        84054.0
12        87006.0
           ...
33177     72510.0
33178     72510.0
33179     48078.0
33180     90024.0
33181     93354.0
Name: Annual Salary, Length: 13404, dtype: float64

In [112]:
simple_mean=police_salaries.mean()
simple_mean

86486.41450313339

In [114]:
simple_std=police_salaries.std()
simple_std

18272.228293992157

In [116]:
confidence_level = 0.95
degrees_of_freedom = len(police_salaries) - 1
degrees_of_freedom

13403

In [117]:
critical_value = stats.t.ppf((1 + confidence_level) / 2, df=degrees_of_freedom)
critical_value

1.9601409957936242

In [118]:
margin_of_error = critical_value * (sample_std / (len(police_salaries)) ** 0.5)
margin_of_error

0.20507206209895812

In [119]:
confidence_interval_lower = sample_mean - margin_of_error
confidence_interval_lower

32.58348565418128

In [120]:
confidence_interval_upper = sample_mean + margin_of_error
confidence_interval_upper

32.993629778379194

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [121]:
hourly_workers = salaries[salaries['Salary or Hourly'] == 'Hourly']
hourly_workers

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
...,...,...,...,...,...,...,...,...
33164,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,OEMC,F,Hourly,40.0,NaN,46.10
33168,"ZWARYCZ MANN, IRENE A",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
33169,"ZWARYCZ, THOMAS J",POOL MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33174,"ZYGADLO, JOHN P",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
33175,"ZYGADLO, MICHAEL J",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85

In [125]:
# Your code here:
import statsmodels.api as sm
num_hourly_workers = len(hourly_workers)
num_hourly_workers

8022

In [126]:
total_workers = len(salaries)
total_workers

33183

In [127]:
expected_proportion = 0.25
z_statistic, p_value = sm.stats.proportions_ztest(count=num_hourly_workers, nobs=total_workers, value=expected_proportion)
z_statistic, p_value

(-3.5099964213703005, 0.0004481127249057967)

In [130]:
alpha = 0.05
if p_value < alpha:
    result = "H0"
else:
    result = "H1"
    
result

'H0'