# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 11.4 MB

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
# Salary or Hourly
unique_values = salaries['Salary or Hourly'].value_counts()

print(unique_values)

Salary or Hourly
Salary    25161
Hourly     8022
Name: count, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
unique_values = salaries['Department'].unique()
print(unique_values)

['POLICE' 'GENERAL SERVICES' 'WATER MGMNT' 'OEMC' 'CITY COUNCIL'
 'AVIATION' 'STREETS & SAN' 'FIRE' 'FAMILY & SUPPORT' 'PUBLIC LIBRARY'
 'TRANSPORTN' "MAYOR'S OFFICE" 'HEALTH' 'BUSINESS AFFAIRS' 'LAW' 'FINANCE'
 'CULTURAL AFFAIRS' 'COMMUNITY DEVELOPMENT' 'PROCUREMENT' 'BUILDINGS'
 'ANIMAL CONTRL' 'CITY CLERK' 'BOARD OF ELECTION' 'DISABILITIES'
 'HUMAN RESOURCES' 'DoIT' 'BUDGET & MGMT' 'TREASURER' 'INSPECTOR GEN'
 'HUMAN RELATIONS' 'COPA' 'BOARD OF ETHICS' 'POLICE BOARD' 'ADMIN HEARNG'
 'LICENSE APPL COMM']

In [7]:
unique_values = salaries['Department'].value_counts()
print(unique_values)

Department
POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: count, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [8]:
# Your code here:
from scipy.stats import ttest_1samp
# Hourly Rate
# Hourly     8022

'''
mu = 30        # media poblacional

mu_hat = 32.78855771628024    # media muestral, media del experimento

std_hat = 12.111817701093825    # std muestral, std del experimento

n = 8022         # tamaño de la muestra
''''''

In [10]:
array_hourly = np.array(salaries['Hourly Rate'].dropna())

array_hourly[:20]

array([19.86, 46.1 , 35.6 ,  2.65, 17.68, 46.1 , 21.43, 35.6 , 25.1 ,
       20.  , 36.21, 35.6 , 45.07, 44.88, 46.1 , 48.25, 36.22, 40.2 ,
       36.13, 40.2 ])

In [11]:
len(array_hourly)

8022

In [14]:
mean_hourly = array_hourly.mean()
std_hourly = array_hourly.std()
print('mean', mean_hourly)
print('std', std_hourly)

mean 32.78855771628024
std 12.111817701093825

In [17]:
t_test = ttest_1samp(array_hourly, 30, alternative='two-sided')
t_test

TtestResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92, df=8021)

In [23]:
from scipy import stats
confidence_interval = stats.t.interval(0.95, len(array_hourly)-1, loc=mean_hourly, scale=std_hourly)
confidence_interval

(9.046248541993936, 56.53086689056654)

In [20]:
from scipy.stats import shapiro
shapiro(array_hourly)  # es normal, NO puedo rechazar H0

C:\Users\demia\anaconda3\lib\site-packages\scipy\stats\_morestats.py:1816: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

ShapiroResult(statistic=0.930728554725647, pvalue=0.0)

In [24]:
normalized_array = (array_hourly - mean_hourly) / std_hourly
normalized_array[:20]

array([-1.06743331,  1.09904579,  0.23212389, -2.48835959, -1.24742281,
        1.09904579, -0.93780785,  0.23212389, -0.63479801, -1.05587436,
        0.28248793,  0.23212389,  1.01400488,  0.99831772,  1.09904579,
        1.27655837,  0.28331357,  0.61191825,  0.27588281,  0.61191825])

In [15]:
help(ttest_1samp)

Help on function ttest_1samp in module scipy.stats._stats_py:

ttest_1samp(a, popmean, axis=0, nan_policy='propagate', alternative='two-sided', *, keepdims=False)
    Calculate the T-test for the mean of ONE group of scores.

    This is a test for the null hypothesis that the expected value
    (mean) of a sample of independent observations `a` is equal to the given
    population mean, `popmean`.

    Parameters
    ----------
    a : array_like
        Sample observation.
    popmean : float or array_like
        Expected value in null hypothesis. If array_like, then its length along
        `axis` must equal 1, and it must otherwise be broadcastable with `a`.
    axis : int or None, default: 0
        If an int, the axis of the input along which to compute the statistic.
        The statistic of each axis-slice (e.g. row) of the input will appear in a
        corresponding element of the output.
        If ``None``, the input will be raveled before computing the statistic.
    nan_policy : {'propagate', 'omit', 'raise'}
        Defines how to handle input NaNs.

        - ``propagate``: if a NaN is present in the axis slice (e.g. row) along
          which the  statistic is computed, the corresponding entry of the output
          will be NaN.
        - ``omit``: NaNs will be omitted when performing the calculation.
          If insufficient data remains in the axis slice along which the
          statistic is computed, the corresponding entry of the output will be
          NaN.
        - ``raise``: if a NaN is present, a ``ValueError`` will be raised.
    alternative : {'two-sided', 'less', 'greater'}, optional
        Defines the alternative hypothesis.
        The following options are available (default is 'two-sided'):

        * 'two-sided': the mean of the underlying distribution of the sample
          is different than the given population mean (`popmean`)
        * 'less': the mean of the underlying distribution of the sample is
          less than the given population mean (`popmean`)
        * 'greater': the mean of the underlying distribution of the sample is
          greater than the given population mean (`popmean`)
    keepdims : bool, default: False
        If this is set to True, the axes which are reduced are left
        in the result as dimensions with size one. With this option,
        the result will broadcast correctly against the input array.

    Returns
    -------
    result : `~scipy.stats._result_classes.TtestResult`
        An object with the following attributes:

        statistic : float or array
            The t-statistic.
        pvalue : float or array
            The p-value associated with the given alternative.
        df : float or array
            The number of degrees of freedom used in calculation of the
            t-statistic; this is one less than the size of the sample
            (``a.shape[axis]``).

            .. versionadded:: 1.10.0

        The object also has the following method:

        confidence_interval(confidence_level=0.95)
            Computes a confidence interval around the population
            mean for the given confidence level.
            The confidence interval is returned in a ``namedtuple`` with
            fields `low` and `high`.

            .. versionadded:: 1.10.0

    Notes
    -----
    The statistic is calculated as ``(np.mean(a) - popmean)/se``, where
    ``se`` is the standard error. Therefore, the statistic will be positive
    when the sample mean is greater than the population mean and negative when
    the sample mean is less than the population mean.

    Beginning in SciPy 1.9, ``np.matrix`` inputs (not recommended for new
    code) are converted to ``np.ndarray`` before the calculation is performed. In
    this case, the output will be a scalar or ``np.ndarray`` of appropriate shape
    rather than a 2D ``np.matrix``. Similarly, while masked elements of masked
    arrays are ignored, the output will be a scalar or ``np.ndarray`` rather than a
    masked array with ``mask=False``.

    Examples
    --------
    Suppose we wish to test the null hypothesis that the mean of a population
    is equal to 0.5. We choose a confidence level of 99%; that is, we will
    reject the null hypothesis in favor of the alternative if the p-value is
    less than 0.01.

    When testing random variates from the standard uniform distribution, which
    has a mean of 0.5, we expect the data to be consistent with the null
    hypothesis most of the time.

    >>> import numpy as np
    >>> from scipy import stats
    >>> rng = np.random.default_rng()
    >>> rvs = stats.uniform.rvs(size=50, random_state=rng)
    >>> stats.ttest_1samp(rvs, popmean=0.5)
    TtestResult(statistic=2.456308468440, pvalue=0.017628209047638, df=49)

    As expected, the p-value of 0.017 is not below our threshold of 0.01, so
    we cannot reject the null hypothesis.

    When testing data from the standard *normal* distribution, which has a mean
    of 0, we would expect the null hypothesis to be rejected.

    >>> rvs = stats.norm.rvs(size=50, random_state=rng)
    >>> stats.ttest_1samp(rvs, popmean=0.5)
    TtestResult(statistic=-7.433605518875, pvalue=1.416760157221e-09, df=49)

    Indeed, the p-value is lower than our threshold of 0.01, so we reject the
    null hypothesis in favor of the default "two-sided" alternative: the mean
    of the population is *not* equal to 0.5.

    However, suppose we were to test the null hypothesis against the
    one-sided alternative that the mean of the population is *greater* than
    0.5. Since the mean of the standard normal is less than 0.5, we would not
    expect the null hypothesis to be rejected.

    >>> stats.ttest_1samp(rvs, popmean=0.5, alternative='greater')
    TtestResult(statistic=-7.433605518875, pvalue=0.99999999929, df=49)

    Unsurprisingly, with a p-value greater than our threshold, we would not
    reject the null hypothesis.

    Note that when working with a confidence level of 99%, a true null
    hypothesis will be rejected approximately 1% of the time.

    >>> rvs = stats.uniform.rvs(size=(100, 50), random_state=rng)
    >>> res = stats.ttest_1samp(rvs, popmean=0.5, axis=1)
    >>> np.sum(res.pvalue < 0.01)
    1

    Indeed, even though all 100 samples above were drawn from the standard
    uniform distribution, which *does* have a population mean of 0.5, we would
    mistakenly reject the null hypothesis for one of them.

    `ttest_1samp` can also compute a confidence interval around the population
    mean.

    >>> rvs = stats.norm.rvs(size=50, random_state=rng)
    >>> res = stats.ttest_1samp(rvs, popmean=0)
    >>> ci = res.confidence_interval(confidence_level=0.95)
    >>> ci
    ConfidenceInterval(low=-0.3193887540880017, high=0.2898583388980972)

    The bounds of the 95% confidence interval are the
    minimum and maximum values of the parameter `popmean` for which the
    p-value of the test would be 0.05.

    >>> res = stats.ttest_1samp(rvs, popmean=ci.low)
    >>> np.testing.assert_allclose(res.pvalue, 0.05)
    >>> res = stats.ttest_1samp(rvs, popmean=ci.high)
    >>> np.testing.assert_allclose(res.pvalue, 0.05)

    Under certain assumptions about the population from which a sample
    is drawn, the confidence interval with confidence level 95% is expected
    to contain the true population mean in 95% of sample replications.

    >>> rvs = stats.norm.rvs(size=(50, 1000), loc=1, random_state=rng)
    >>> res = stats.ttest_1samp(rvs, popmean=0)
    >>> ci = res.confidence_interval()
    >>> contains_pop_mean = (ci.low < 1) & (ci.high > 1)
    >>> contains_pop_mean.sum()
    953

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [8]:
# Your code here:
# Annual Salary

'''
mu = 86000        # media poblacional

mu_hat = ??    # media muestral, media del experimento

std_hat = ??    # std muestral, std del experimento

n = 25161         # tamaño de la muestra
''''''

In [45]:
array_annual = np.array(salaries['Annual Salary'].dropna(), dtype=int)

array_annual[:20]

array([101442,  94122, 101592, 110064,  50436, 103350,  93354,  84054,
        87006, 102228,  84054,  91272, 111492,  95484,  65448,  90024,
        82614,  48078,  76266,  48078])

In [46]:
array_annual.mean()

86786.99626405946

In [47]:
len(array_annual)

25161

In [49]:
mean_annual = array_annual.mean()
std_annual = array_annual.std()
print('mean', mean_annual)
print('std', std_annual)

mean 86786.99626405946
std 21040.933083200245

In [34]:
array_annual = array_annual.astype(int)

In [35]:
mean_annual = array_annual.mean()
std_annual = array_annual.std()
print('mean', array_annual)
print('std', array_annual)

mean [101442  94122 101592 ...  90024  93354 115932]
std [101442  94122 101592 ...  90024  93354 115932]

In [ ]:
#t_test = ttest_1samp(array_hourly, 30, alternative='two-sided')
#t_test

In [ ]:
#confidence_interval = stats.t.interval(0.95, len(array_hourly)-1, loc=mean_hourly, scale=std_hourly)
#confidence_interval

Using the `crosstab` function, find the department that has the most hourly workers.

In [37]:
# Your code here:
hourly_workers = salaries[salaries['Salary or Hourly'] == 'Hourly']

hourly_counts = pd.crosstab(index=hourly_workers['Department'], columns='count')

department_with_most_hourly_workers = hourly_counts.idxmax().get('count')

print("Department with the most hourly workers:", department_with_most_hourly_workers)

Department with the most hourly workers: STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [39]:
# Your code here:
dept_street = salaries[salaries['Department'] == 'STREETS & SAN']

street_rate_array = dept_street['Hourly Rate'].dropna().values


street_rate_array[:20]

array([35.6 , 21.43, 35.6 , 36.21, 35.6 , 36.13, 28.48, 36.21, 36.21,
       36.21, 28.48, 20.77, 35.6 , 20.12, 35.6 , 36.21, 36.21, 36.21,
       32.04, 36.21])

In [ ]:
'''
mu = 35        # media poblacional

mu_hat = 33.72837808807734    # media muestral, media del experimento

std_hat = 5.733701558944158    # std muestral, std del experimento

n = 1862         # tamaño de la muestra
''''''

In [40]:
len(street_rate_array)

1862

In [51]:
mean_streat = street_rate_array.mean()
std_street = street_rate_array.std()
print('mean', mean_streat)
print('std', std_street)

mean 33.72837808807734
std 5.733701558944158

In [53]:
t_test = ttest_1samp(street_rate_array, 35, alternative='less')
t_test

TtestResult(statistic=-9.567447887848152, pvalue=1.6689265282353859e-21, df=1861)

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [54]:
# Your code here:
from scipy import stats
confidence_interval = stats.t.interval(0.95, len(array_hourly)-1, loc=mean_hourly, scale=std_hourly)
confidence_interval

(9.046248541993936, 56.53086689056654)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [63]:
dept_police = salaries[salaries['Department'] == 'POLICE']

police_rate_array = dept_police['Annual Salary'].dropna().values


police_rate_array[:20]

array([101442.,  94122.,  93354.,  84054.,  87006.,  84054.,  90024.,
        48078.,  76266.,  48078.,  80016.,  72510.,  68616.,  90024.,
        48078.,  76266.,  48078.,  72510.,  97440.,  72510.])

In [64]:
# Your code here:
mean_all = police_rate_array.mean()
std_all = police_rate_array.std()
print('mean', mean_all)
print('std', std_all)

mean 86486.41450313339
std 18271.54668517837

In [65]:
confidence_interval = stats.t.interval(0.95, len(police_rate_array)-1, loc=mean_all, scale=std_all)
confidence_interval

(50671.60678895816, 122301.22221730862)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [66]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

#Null hypothesis (H0): The proportion of hourly workers is equal to 25%.
#Alternative hypothesis (H1): The proportion of hourly workers is different from 25%.

In [68]:
num_hourly_workers = np.sum(salaries['Salary or Hourly'] == 'Hourly')
num_total_workers = len(salaries)
print(num_hourly_workers)
print(num_total_workers)

8022
33183

In [69]:
alpha = 0.05  # 95% confidence level
expected_proportion = 0.25

In [70]:
z_score, p_value = proportions_ztest(num_hourly_workers, num_total_workers, expected_proportion)
if p_value < alpha:
    print("The number of hourly workers is significantly different from 25%.")
else:
    print("The number of hourly workers is not significantly different from 25%.")

The number of hourly workers is significantly different from 25%.